@media (max-width: 1024px){
    .header_logo {
        margin-right: 20px !important;
    }
    .header_menu-item {
        margin-left: 52px !important;
    }
    .footer_item {
        width: calc(50% - 22.5px) !important ;
       
    }
    .header_infor{
        display: none !important;
    }
    .footer_circle  {
        width: 55px !important;
        height: 55px !important;
        
    }
    .circle3 {
      
        width: 55px!important;
        height: 55px !important;
       
    }
    .feed_item {
        max-width: calc(33.33% - 6.67px)!important;
        margin-bottom: 10px !important;
        height: 80px!important;
    }
    textarea{
        width: 97% !important;
    }
   

}
@media (max-width:780px) {
    .header{
        padding-bottom: 16px !important;
    }
    
  .header_menu{
      display: none !important;
  }
    .header_infor{
        display: none !important;
    }
    .pricing_table>li{
        width: 100% ;
        margin-left: 20px;
    }
    .pricing_table>li , .pricing_table>li.table2{
     
        width: 50% !important;
        text-align: center;
        margin-left: 80px !important;
    }
    .footer_bottom{
        display: none !important;
    }
}
@media(max-width:479px)
{
    .header{
        padding-bottom: 16px !important;
    }
    .header_menu{
        display: none;
    }
    .language, .search, .cart{
        display: none !important;
    }
    .pricing_table>li{
        width: 100% ;
        margin-left: 20px;
    }
    .footer_list{
        flex-direction: column;
    }
    .footer_item {
        width: 100% !important ;
       
    }
    .text-area{
        width: 90% !important;
    }
    
    .pricing_table>li , .pricing_table>li.table2{
     
            width: 50% !important;
            text-align: center;
            margin-left: 80px !important;
        }
.banner_title h1{
    font-size: 29px !important;
}
.block_title h2 {
    font-size: 29px !important;
}
.footer_bottom{
    display: none !important;
}
}